@model Alphareds.Module.Model.LocalPasswordModel

@using (Html.BeginForm("ManagePassword", "Account", FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <input type="password" style="display:none">

    <div class="s3-1_cf_lable_text">Old Password</div>@*error_form_imp_password*@
    <div>@Html.PasswordFor(m => m.OldPassword, new { @class = "s3-1_full_textbox_com", @required = "required", autocomplete = "off" })</div>
    @Html.ValidationMessageFor(m => m.OldPassword, null, new { @class = "textforerrormsg" })

    <div class="s3-1_cf_lable_text mt20">New Password</div>
    <div>@Html.PasswordFor(m => m.NewPassword, new { @class = "s3-1_full_textbox_com", @required = "required", autocomplete = "off" })</div>
    <div class="member_fp_text">Your new password must contain a minimum length of 6 characters.</div>
    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "textforerrormsg" })

    <div class="s3-1_cf_lable_text mt20">Re-enter new password</div>
    <div>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "s3-1_full_textbox_com", @required = "required", autocomplete = "off" })</div>
    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "textforerrormsg" })

    <button type="submit" name="btnChangePassword" class="s3-1_form_button add-cursor-pointer" value="Change password">Complete form to continue</button>
}

