@model Mayflower.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

@using (Html.BeginForm("ManagePassword", "Account", new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="password col-lg-12">
        <label>Current Password:</label>
        @Html.PasswordFor(m => m.OldPassword, new { @Placeholder = "", @class = "profile-form", @required = "required" })
    </div>
    <div class="password col-lg-12">
        <label id="new">New Password:</label>
        @Html.PasswordFor(m => m.NewPassword, new { @Placeholder = "", @class = "profile-form", @required = "required" })
    </div>
    <div class="password col-lg-12">
        <label>Confirm Password:</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @Placeholder = "", @class = "profile-form", @required = "required" })
    </div>

    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <button type="submit" value="Change password" name="btnChangePassword" class="btn-primary btn-block btn-lg">Save</button>
    </div>

}

