@using Alphareds.Module.Model;
@using Alphareds.Module.Model.Database;
@using Alphareds.Module.Common;
@model Alphareds.Module.Model.CheckoutProduct
@{
    Mayflower.General.CustomPrincipal CustomPrincipal = (User as Mayflower.General.CustomPrincipal);

    string superPNRNo = Model.SuperPNRNo;

    bool isEnableCMS = Alphareds.Module.Common.Core.EnableCMS;


    ViewBag.Title = "Payment";
    ViewBag.HeaderRed = true;

    Alphareds.Module.Model.Database.MayFlower db = new Alphareds.Module.Model.Database.MayFlower();

    PromoCodeRule promoCodeRule = Model.PromoID != 0 ? db.PromoCodeRules.FirstOrDefault(x => x.PromoID == Model.PromoID) : null;

    string currencyCode = Model.CheckOutSummary?.CurrencyCode ?? string.Empty; //not sure 

    #region get data from viewBag
    BookedProductView bookingDetail = null;
    Alphareds.Module.Model.Database.BookingHotel hotelDBContext = null;
    bool hasHotelBooking = false;

    if (ViewBag.BookedDetail != null)
    {
        bookingDetail = (BookedProductView)ViewBag.BookedDetail;
        hotelDBContext = bookingDetail.Hotel;
        hasHotelBooking = hotelDBContext != null;
    }
    #endregion

    BundleTable.Bundles.Add(new ScriptBundle("~/scripts/bundle")
                .Include("~/Scripts/page-scripts.js")
                .Include("~/Scripts/common/payment.js"));

    BundleTable.Bundles.Add(new StyleBundle("~/css/bundle")
                                        .Include("~/CSS/v2style.css")
                                        .Include("~/CSS/v2responsive.css")
                                        .Include("~/CSS/bootstrap/bootstrap.min.css")
                                        .Include("~/CSS/bootstrap/bootstrap-carousel.css")
                                        .Include("~/CSS/crosssell/style.css"));
}

@section style{
    <link href="@Url.Content("~/css/bundle?ver=" + DateTime.Now.ToString("yyyyMMddhhmm"))" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/CSS/checkout/style.min.css?ver=" + DateTime.Now.ToString("yyyyMMddhhmm"))" rel="stylesheet" />

    @if (Core.IsEnableAdyen)
    {
        <link href="@Url.Content("~/CSS/checkout/adyencc.min.css")?ver=@DateTime.Now.ToString("yyyyMMddhh")" rel="stylesheet" />
    }

    <style>
    .h2_mhdb2_heading2 {
        background-image: url(../images/info-icon.png);
        background-repeat: no-repeat;
        font-size: 14px;
        float: left;
        margin-left: 10px;
        margin-top: -6px;
        color: #ec1c24;
        min-width: 55px;
        height: 35px;
    }

    a:-webkit-any-link {
        color: #000;
        text-decoration: none;
    }

    a {
        -webkit-transition: initial;
        -moz-transition: initial;
        -o-transition: initial;
        transition: initial;
    }

    .payment_innerbox {
        width: 92%;
    }

    .s4_blt_sub_heading {
        font-family: 'UbuntuBold';
    }

    .s3-1_form {
        padding-bottom: 0px !important;
        background-color: white !important;
    }

    .st4_payment_heading_container{
        margin-top : 80px !important;
        margin-bottom: 0px;
        font-family: 'UbuntuMedium' !important;
    }

    @@media screen and (min-width : 800px) {
        .s3_hinfo_tc_inner_left {
            width: 7%;
        }

        .s3_hinfo_tc_inner_right {
            width: 93%;
        }

        .s3_hinfo_tc_left {
            width: auto;
        }
    }

    @@media screen and (max-width : 900px) {

        .pdcont_nameright {
            width: 78%;
        }

        .pdcont_nameleft2 {
            float: left;
            width: 20%;
            display: inline-block;
        }

        .s3_hotel_contacts_box {
            margin: 10px;
        }
    }

    @@media screen and (max-width : 730px) and (min-width:601px) {
        .mpjm_pd_heading_left.mpjm_spclclass_mt.conticon, .mpjm_pd_heading_left.mpjm_spclclass_mt.guesticon {
            margin-left: -20px !important;
        }
    }

    @@media screen and (max-width : 900px) and (min-width:601px) {
        .mpjm_pd_heading_left.mpjm_spclclass_mt.conticon, .mpjm_pd_heading_left.mpjm_spclclass_mt.guesticon {
            margin-top: 6px !important;
            margin-left: -15px;
        }

        .word-form {
            display: none;
        }
    }

    @@media screen and (max-width : 600px) {
        .s4_guest_tabs_name_container H4 span {
            padding-left: 0px;
        }

        .pdcont_nameright {
            width: 75%;
            display: inline-block;
        }

        .pdcont_nameleft {
            width: 64px;
            display: inline-block;
            float: left;
        }

        .h2_mhdb2_mapbox span {
            display: inherit;
            width: 73px;
            margin-left: 0px;
        }

        .s3_hotel_name_portion3_customize {
            margin-left: 0px !important;
        }

        .st4_payment_heading_container1 span {
            font-size: 23px;
        }

        .s4_guest_tabs_name_container H3 {
            padding-top: 0px;
        }

        .mpjm_pd_heading_left {
            width: 60px;
            height: 60px;
            line-height: 60px;
            display: inline-block;
            float: left;
        }

        .pdcont_nameright {
            display: inline-block;
            width: 70%;
        }

        .pdcont_nameleft2 {
            float: left;
            width: 30%;
            display: inline-block;
        }

        .s4_blt_py_con_left {
            width: 60%;
            float: left;
        }

        .s4_blt_py_con_right {
            float: right;
        }

        .word-form {
            display: none;
        }
    }

    @@media screen and (max-width : 425px) {
        .booking_refrence_text {
            line-height: 20px;
            padding-top: 10px;
        }

        .s3_1_breadcrump {
            height: 80px;
        }

        .st4_payment_heading_container1 {
            background-position: 19% 3px;
            background-position-y: -1px;
        }
    }

    @@media screen and (max-width : 375px) {
        .st4_payment_heading_container1 {
            background-position: 17% 3px;
        }
    }

    @@media screen and (max-width : 370px) {
        .st4_payment_heading_container1 {
            background-position: 15% 3px;
        }
    }

    @@media screen and (max-width : 418px) {
        .secondrow {
            float: left;
            margin-top: 8px;
        }
    }

    @@media screen and (max-width : 325px) {
        .st4_payment_heading_container1 {
            background-position: 11% 3px;
        }
    }

    @@media screen and (max-width : 400px) {
        .s4_blt_sub_heading {
            font-size: 13px;
            text-align: center;
        }

        .pgt_left {
            font-size: 19px;
        }

        .pgt_right {
            font-size: 14px;
            padding-top: 5px;
        }
    }
</style>

@if (hasHotelBooking)
{
    <style>
        /* I'm Seperator START */
        .fullcover_div_GoogleMap {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.8);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999999;
            display: none;
        }

        .viewmorehotel_container.hotel-info {
            margin: auto !important;
        }

        .viewmorehotel_container {
            max-width: 883px;
            width: 96%;
            margin: 2em auto;
            height: 500px;
        }

        .viewmorehotel_white1nn {
            height: 510px;
            overflow: auto;
            text-align: center;
        }

        .vm_inner_content {
            width: 95%;
            margin: auto;
            text-align: left;
        }

        .hotel_summary.mf_ib_border_box {
            background: none;
        }

        .hotel_summary .mf_ib_bb_lrbox_inner {
            max-width: 100% !important;
        }

        .hotel_summary .mf_ib_bb_lrbox {
            width: 100%;
        }

        .s3_hotel_name_portion3_customize {
            margin-left: 20px;
            color: #00a298 !important;
        }
    </style>
}
}

@if (Model.IsDynamic)
{
    <style>
        .s2_filer_container {
            width: 100%;
            background-color: #fff;
            border-bottom: 1px solid #d9d9d9;
            border-top: 1px solid #d9d9d9;
            margin-top: 50px;
        }

        .col-lg-offset-2 {
            width: 100% !important;
            margin-left: 11% !important;
        }

        .section-tabs .nav-wizard {
            margin: 0px !important;
            max-width: 100% !important;
        }

        @@media screen and (min-device-width : 992px)and (max-width : 1200px) {
            .addons > .container > .section-tabs > .col-md-offset-1 {
                margin-left: unset !important;
            }
        }

        @@media screen and (min-width : 768px) and (max-width : 991px) {
            .nav-pills.nav-wizard > li > a > .visible-sm {
                display: none !important;
            }

            .nav-pills.nav-wizard > li > a > .visible-xs {
                display: block !important;
            }

            .nav-pills.nav-wizard > li > a {
                width: 70px !important;
            }
        }

        @@media screen and (min-width: 769px) {
            .flex {
                display: flex;
            }
        }
    </style>
}
@Html.Partial("~/Views/Insurance/_SummaryBar.cshtml", bookingDetail)
<div class="nav-booking-section">
    <div class="moreflight_container">
        <div class="moreflight_box">
            <div class="more_flight_innerbox">
                <div class="mf_content_container">
                    <div class="close_tabn"><img src="@Url.Content("~/images/close_tab.png")" width="23" height="21" alt=""></div>
                    @Html.Partial("~/Views/Insurance/_bookingDetail.cshtml", bookingDetail)

                </div>
            </div>
            <div class="show_more_flight_icon">Show more booking details</div>
        </div>
    </div>
</div>


    @using (Html.BeginForm("InsurancePayment", "Insurance", new { superPNRNo }, FormMethod.Post, new { id = "checkoutForm" }))
    {
        <div class="st4_payment_heading_container">
            <h3 style="color: green">Final step and you're all set!</h3>
        </div>
        if (Model.PaymentDetails == null)
        {
            <div class="member_profile_heading_container">
                @Html.ValidationMessage("Error", new { style = "font-size: 22px;font-style: italic;" })
            </div>
            <div style="width: 100%;margin: 2em 0px;display: table;text-align: center;">
                <div style="display: table-cell;vertical-align: middle;text-align:center;">
                    @if (!isEnableCMS)
                    {
                        <div class="redbacktohome_button" style="width: 190px"><a href="@Url.Action("Index", "Home")" style="padding: 8% 17%;">Back to Homepage</a></div>
                    }
                    else
                    {
                        <div class="redbacktohome_button" style="width: 190px"><a href='@Url.Action("RedirectAndPOST", "DynamicFormPostSurface", new { destinationUrl = System.Web.Configuration.WebConfigurationManager.AppSettings["AlphaReds.CMSUrl"], type = "MenuTransfer" })' style="padding: 8% 17%;">Back to Homepage</a></div>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="s3-1_form">
                <div class="payment_innerbox">
                    <div class="payment_content_container">
                        <div class="s3_hotel_topline lineblack"></div>
                        <div class="s4_blt_heading payment">Payment Summary</div>
                        <div class="s4_blt_py_container">

                            @foreach (var product in Model.Products.GroupBy(grp => grp.ProductType))
                            {
                                <div class="s4_blt_py_con_left">@product.Key.ToString().AddSpacingAfterUpCase()</div>

                                if (Core.IsTestInstantDisc && Model.IsDynamic)
                                {
                                    <small style="color:red;"> (selling: @product.Sum(x => x.PricingDetail.ProductTotalAmount).ToString("n2") cost: @product.Sum(x => x.PricingDetail.ProductTtlAmount_SupplierSource).ToString("n2"))</small>
                                }

                                var allInPrice = product.Sum(x => x.PricingDetail.BaseRate_BeforeDisc) + product.Sum(x => x.PricingDetail.Surcharge) + product.Sum(x => x.PricingDetail.GST);
                                <div class="s4_blt_py_con_right">MYR&nbsp;<span>@allInPrice.ToString("n2")</span></div>

                                <div class="nightly-break">
                                    @foreach (var item in product.SelectMany(x => x.PricingDetail.Items))
                                    {
                                        <div class="night-charge"></div>
                                        if (product.Key == ProductTypes.Insurance)
                                        {
                                            int paxCountForInsurance = Model.SellItemsAvailable.Insurance.ServiceRespond.FirstOrDefault().Body.GetTravelQuoteResponse.ACORD.InsuranceSvcRs.PersPkgPolicyQuoteInqRs.InsuredOrPrincipal.GeneralPartyInfo.NameInfo.Count() - 1;
                                            <div class="night-charge1">@item.ItemDetail x @paxCountForInsurance</div>
                                        }
                                        else
                                        {
                                            <div class="night-charge1">@item.ItemDetail x @item.ItemQty</div>
                                        }
                                        <div class="night-charge2"></div>
                                        <div class="clear"></div>

                                    }
                                </div>
                                <div class="clear"></div>

                            }

                            <div class="s4_blt_py_con_left">Processing Fee</div>
                            <div class="s4_blt_py_con_right">MYR <span class="ProcessingFee">@Model.CheckOutSummary.ProcessingFee.TtlAmt.ToString("n2")</span></div>
                            <div class="clear"></div>

                            @if (Model.IsDynamic && Model.CheckOutSummary.DiscountDetails.Where(s => s.DiscType == DiscountType.PD).Count() > 0)
                            {
                                decimal ttlCodeDisc = Model.CheckOutSummary.DiscountDetails.Where(s => s.DiscType == DiscountType.PD).Sum(s => s.Disc_Amt);
                                <div id="instantdisc_detail">
                                    <div id="p_left" class="s4_blt_py_con_left">Instant Discount</div>
                                    <div id="p_right" class="s4_blt_py_con_right">
                                        @Model.CheckOutSummary.CurrencyCode <span class="promo-code-payment">@((-Math.Abs(ttlCodeDisc)).ToString("n2"))</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            }
                            else
                            {
                                <div id="instantdisc_detail" class="instantdiscdiv">
                                    <div id="p_left" class="s4_blt_py_con_left">
                                    </div>
                                    <div id="p_right" class="s4_blt_py_con_right">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            }

                            @if (Model.PromoID != 0)
                            {
                                decimal ttlCodeDisc = Model.CheckOutSummary.DiscountDetails.Where(s => s.DiscType == DiscountType.CODE).Sum(s => s.Disc_Amt);
                                // Promo Code Section Here
                                bool isHidePromoCode = Model.PromoCodeFunctions.GetFrontendFunction.FlightAutoApplied || Model.PromoCodeFunctions.GetFrontendFunction.HotelAutoApplied
                                    || Model.PromoCodeFunctions.GetFrontendFunction.PackageAutoApplied || Model.PromoCodeFunctions.GetFrontendFunction.PromoCodeHideForCustomer;
                                string displaypromoname = string.IsNullOrWhiteSpace(promoCodeRule.DisplayPromoName) ? null : $" - {promoCodeRule.DisplayPromoName}";
                                string displaypromocode = $"Promo Code {(!isHidePromoCode ? $"({promoCodeRule.PromoCode}{displaypromoname})" : "")}";
                                <div id="pcode_detail">
                                    <div id="p_left" class="s4_blt_py_con_left">
                                        @displaypromocode
                                        @if (!Model.PromoCodeFunctions.GetFrontendFunction.WaiveCreditCardFee)
                                        {
                                            <span><a id="promo-remove" href="javascript:;">Remove</a></span>
                                        }
                                    </div>
                                    <div id="p_right" class="s4_blt_py_con_right">
                                        @Model.CheckOutSummary.CurrencyCode <span class="promo-code-payment">@((-Math.Abs(ttlCodeDisc)).ToString("n2"))</span>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            }
                            else
                            {
                                <div id="pcode_detail">
                                    <div id="p_left" class="s4_blt_py_con_left">
                                    </div>
                                    <div id="p_right" class="s4_blt_py_con_right">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            }

                            @if (Core.IsTestInstantDisc && Model.IsDynamic)
                            {
                                IList<ICheckoutProduct> allPrd = Model.Products.OrderBy(x => x.ProductSeq).ToList();
                                <small style="color:red;">
                                    (total selling: @allPrd.Sum(x => x.PricingDetail.ProductTotalAmount).ToString("n2"))
                                    (total cost: @allPrd.Sum(x => x.PricingDetail.ProductTtlAmount_SupplierSource).ToString("n2"))
                                </small>
                            }

                            <div class="s4_total_price"></div>
                            <div class="s4_blt_py_con_left">Total Price</div>
                            <div class="s4_blt_py_con_right" id="Totalprice"><span class="Currency">MYR</span><span id="ttlPrice" class="TotalPrice">@((Model.CheckOutSummary.GrandTtlAmt_InPaymentSummary).ToString("n2"))</span></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    @if (Model.Hotel != null)
                    {
                        bool gothotelinstruc = Model.Hotel.HotelInstrusction != null && (!string.IsNullOrEmpty(Model.Hotel.HotelInstrusction.NotificationFee) ||
                        !string.IsNullOrEmpty(Model.Hotel.HotelInstrusction.MandatoryFee) || !string.IsNullOrEmpty(Model.Hotel.HotelInstrusction.SpecialCheckInInstruction) ||
                        !string.IsNullOrEmpty(Model.Hotel.HotelInstrusction.KnowBeforeYouGoDesc));
                        bool HBhotelratedesc = Model.Hotel.RoomSelected.HotelRoomInformationList.Any(x => x.roomAvailabilityDetailsList.FirstOrDefault().rateDescription != null) && Model.Hotel.RoomSelected.HotelRoomInformationList.FirstOrDefault().hotelSupplier == Alphareds.Module.ESBHotelComparisonWebService.ESBHotel.HotelSupplier.HotelBeds;
                        if (gothotelinstruc || HBhotelratedesc)
                        {
                            // Hotel Notification Information Here
                            <div class="notification_content_container">
                                <div class="s4_blt_py_container2">
                                    @if (gothotelinstruc)
                                    {
                                        var checkoutHotelModel = Model.Hotel.HotelInstrusction;
                                        if (!string.IsNullOrEmpty(checkoutHotelModel.NotificationFee))
                                        {
                                            <h3>Notification and Fees</h3>
                                            <small>@Html.Raw(checkoutHotelModel.NotificationFee)</small>;
                                        }

                                        if (!string.IsNullOrEmpty(checkoutHotelModel.MandatoryFee))
                                        {
                                            <h3>Mandatory Fees</h3>
                                            <small>@Html.Raw(checkoutHotelModel.MandatoryFee)</small>;
                                        }

                                        if (!string.IsNullOrEmpty(checkoutHotelModel.KnowBeforeYouGoDesc))
                                        {
                                            <h3>Know Before You Go</h3>
                                            <small>@Html.Raw(checkoutHotelModel.KnowBeforeYouGoDesc)</small>;
                                        }

                                        if (!string.IsNullOrEmpty(checkoutHotelModel.SpecialCheckInInstruction))
                                        {
                                            <h3>Special Check In Instruction</h3>
                                            <small>@Html.Raw(checkoutHotelModel.SpecialCheckInInstruction)</small>;
                                        }
                                    }
                                    @if (HBhotelratedesc)
                                    {
                                        foreach (var room in Model.Hotel.RoomSelected.HotelRoomInformationList)
                                        {
                                            <h3>Rate Description</h3>
                                            List<string> ratedesclist = room.roomAvailabilityDetailsList.FirstOrDefault().rateDescription.Split(new string[] { ". -" }, StringSplitOptions.None).ToList<string>();
                                            <small>
                                                @foreach (var ratedesc in ratedesclist)
                                                {
                                                    @ratedesc<br />
                                                }
                                            </small>;
                                        }
                                    }
                                </div>
                            </div>
                        }
                    }

                    <div class="s4_payment_nextbox" style="position: relative">
                        <div class="s4_pnb_red_heading">Pay Using</div>

                        <div class="s4_pnb_inner">
                            @{
                                ViewBag.PromoCodeRule = promoCodeRule;
                                ViewBag.PromoID = Model.PromoID;
                                ViewBag.AllowWithTC = Model.PromoCodeFunctions.GetFrontendFunction.AllowWithTC;
                            }

                            @Html.Partial("~/Views/Checkout/PaymentPartials/_CreditPaymentPartial.cshtml", Model.PaymentDetails ?? new PaymentCheckout())

                            @Html.Partial("~/Views/Checkout/PaymentPartials/_PaymentMethodPartial.cshtml", Model.PaymentDetails ?? new PaymentCheckout())

                            @*@if (Core.IsEnablePayByPromoCode)
                            {
                                ViewBag.IsPromoCodeUsed = ((Model.Flight != null && Model.Flight.SearchFlightInfo.IsPromoCodeUsed) ||
                                                      (Model.Hotel != null && Model.Hotel.SearchHotelInfo.IsPromoCodeUsed) && Model.PromoID != 0);
                                @Html.Partial("~/Views/Payment/_PromoCodePartial.cshtml")
                            }*@
                        </div>
                    </div>

                    <!-- ipay portion start -->
                    <div class="ipay_container">

                        <div class="ipay_con_left">
                            <h3>Read me - I'm important!</h3>

                            @if (DateTime.Now < new DateTime(2018, 04, 01))
                            {
                                <div class="radio1_s4 radio1_s5">
                                    <div class="contestTNC">
                                        <input id="contesttnc" type="checkbox" name="contesttnc" value="true" @(false ? "checked" : "")>
                                        <label for="contesttnc">By ticking this box, I agree to all of the <a href="@Url.Content("~/ContestTNC/contestT&C.pdf")" target="_blank">Terms & Conditions</a> of this Buy Travel Win Contest.</label>
                                    </div>
                                    <img class="contestPic" src="~/Images/BTW-Logo-RGB-w-background.png" />
                                </div>
                            }

                            <div class="radio1_s4">
                                <input id="tnc" type="checkbox" name="tnc" value="true" @(false ? "checked" : "")>
                                <label for="tnc">I agree to all the <a href="@(Core.IsForStaging ? Url.Action("TermsConditions", "Public" ) : "https://www.mayflower.com.my/tnc")" target="_blank">Terms & Conditions</a> of Mayflower Holidays.</label>
                            </div>
                            <div class="radio2_s4">
                                <input id="policy" type="checkbox" name="policy" value="true" @(false ? "checked" : "")>
                                <label for="policy">
                                    By using and accessing any of the websites and / or services (whether by your mobile phone, PC or any other means), I am deemed to agree to the provisions of the
                                    &nbsp;<a href="@(Core.IsForStaging ? Url.Action("PDPA", "Public") : "https://www.mayflower.com.my/pdpa")" target="_blank">Protection Act 2010</a>
                                    &nbsp;as well as other applicable laws protecting privacy. I also read, understand and agree with the
                                    &nbsp;<a href="@(Core.IsForStaging ? Url.Action("Cancel", "Public") : "https://www.mayflower.com.my/cancel")" target="_blank">Cancellation Policies</a> of this hotel rate.
                                    <br><br>Reminder: Please ensure that all of your contact information are correct, then click 'Pay Now' to continue.
                                    &nbsp;You will then be taken to the credit card verification process page.
                                </label>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="payment-btn-area">
                            @if (Core.IsEnableAdyen)
                            {
                                <a href="javascript:;" class="ars-payment"><button type="submit" class="ars-btn ipay_paynow_button">Pay Now</button></a>
                            }
                            else
                            {
                                <a href="javascript:;" class="ars-payment"><div class="ipay_paynow_button">Pay Now</div></a>
                            }
                        </div>
                    </div>
                    <!-- ipay portion end -->
                </div>
            </div>
                                    }
                                }

    @Html.Partial("~/Views/Shared/MasterThemes/_PopOutModal.cshtml")
    @Html.Partial("~/Views/Shared/MasterThemes/_LoadingModal.cshtml")

    @section scripts{
        <script>
        var paymentCalcUrl = '@Url.Action("UpdatePaymentStatus", "Insurance")';

        $(document).ready(function () {
                            history.pushState('', '', window.location.href);
                        });
        </script>
        <script type="text/javascript" src="@Url.Content("~/scripts/bundle?" + DateTime.Now.ToString("yyyyMMddhhmm"))"></script>
        @Html.Partial("~/Views/Checkout/_checkoutScripts.cshtml")
        @Html.Partial("~/Views/Flight/Shared/_FareRulesScriptPartial.cshtml")
        @if (Model.IsDynamic || Model.Flight != null)
        {
            @Html.Partial("~/Views/Flight/Shared/_FareRulesScriptPartial.cshtml")
        }

@if (hasHotelBooking)
{
    @Html.Partial("~/Views/Hotel/_SharedJSScripts.cshtml")
}
        <script type="text/javascript">
        var voidPayment = false;
        var isValid = @Html.Raw(Json.Encode(ViewData.ModelState.IsValid));
        var errorsMsg = @Html.Raw(Json.Encode(string.Join(Environment.NewLine,ViewData.ModelState.Where(x => x.Value.Errors.Count > 0).SelectMany(x => x.Value.Errors).Select(error => error.ErrorMessage))));

        @if (Request.QueryString["status"] == "payment-void") {
            <text> voidPayment = true; </text>
        }

        if (!isValid) {
            $('#popup-modal').show();
            $('#modal-container').html("<div class='session_lb_text1' style='color: #000'><p>" + errorsMsg + "</p></div><a href='javascript:;' class='modal-close'><div class='redcontinue_button bckHomeBtn' style='margin-top: 1em;display: inline-block;'>Back to Homepage</div></a>");
                        }
        if (voidPayment) {
            $('#popup-modal').show();
            $('#modal-container').html("<div class='session_lb_text1' style='color: #000'><p>" + "Your payment was cancelled succesfully. You will not be charged any amount.</br></br>If you have any enquiries, please contact us." + "</p></div><a href='javascript:;' class='modal-close'><div class='redcontinue_button bckHomeBtn' style='margin-top: 1em;display: inline-block;'>Back to Homepage</div></a>");
                        }

        $('.bckHomeBtn').on('click', function (event) {
            event.preventDefault();
                            location.href = "/";
        });
        </script>

        @if (Core.IsEnableAdyen)
        {
            BundleTable.Bundles.Add(new ScriptBundle("~/js/payment")
                                        .Include("~/scripts/checkout/adyencc.js"));

            @*//--Credit Card--Start//*@
            <script type="text/javascript" src="@Core.GetAppSettingValueEnhanced("AdyenEncryption")"></script>
            <script type="text/javascript" src="@Url.Content("~/js/payment?ver=" + DateTime.Now.ToString("yyyyMMddhhmm"))"></script>

            @*//--Credit Card--End//*@
        }
        else
        {
            <script>
                $('.ars-payment').on('click', function (e) {
                    var hiddenValue = $('#buttonValue');
                    var clickedVal = $(this).val();
                    hiddenValue.val('PaymentNow');
                    $('#checkoutForm').submit();
                });
            </script>
        }
    }
