@model Alphareds.Module.Model.MemberRegisterModels
@using Alphareds.Module.Common;

@{
    ViewBag.Title = "Update Account";
    ViewBag.RenderRedLine = true;

    List<SelectListItem> titleList = UtilitiesService.GetTitleList(true, "ADT");
}

@section style{
    <style>
        .s3-1_cf_lable_text span {
            color: #eb1c24;
        }

        .rpc_redtabs {
            cursor: pointer;
        }

        button.add-cursor-pointer {
            width: 100%;
            background-color: #eb1c24;
            height: 60px;
            font-size: 14px;
            color: #fff;
            margin-top: 45px;
            border-radius: 30px;
            border: 0px;
        }

        select.s3-1_flyer_left_dupinput {
            background: none;
            padding-left: 4em;
            padding-top: 0;
        }

        .ff-img-container > img {
            height: 55px;
        }

        .ff-img-container {
            position: absolute;
            height: 55px;
            width: 60px;
            padding-left: 5px;
        }

        .mr_form_confirm > label {
            text-align: justify;
        }

        .s3-1_fi_row1 {
            border: none;
            height: auto;
            float: left;
        }

        .s3-1_cf_lable_text span {
            color: #eb1c24;
        }

        .s3-1_contactform_title_first_row {
            width: 14%;
            float: left;
        }

        .s3-1_contactform_firstname_first_row {
            width: 49%;
            float: left;
        }

        .s3-1_contactform_familyname_first_row {
            width: 49%;
            float: right;
        }

        .s3-1_fir1_b1, .s3-1_fir1_b2, .s3-1_fir1_b3 {
            width: 100%;
            float: left;
            padding-left: 0%;
        }

        .s3_1_contactform_name {
            width: 84%;
            float: right;
        }

        .s3-1_fi_row1-right {
            margin-top: 28px;
        }

        .s3-1_fir1_b1 select {
            font-family: 'Conv_Ubuntu-Light';
            height: 56px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url(../images/drop_down_arrow.png);
            background-position: right center;
            background-repeat: no-repeat;
            background-color: transparent;
            border: 1px solid #000;
            width: 100%;
            font-size: 16px;
            padding-left: 15%;
        }

        .s3-1_full_textbox_com {
            padding-left: 24px;
            padding-right: 24px;
        }

        .s3-1_full_textbox_name_com {
            width: 100%;
            height: 56px;
            background-color: transparent;
            border: 1px solid #000;
            font-size: 16px;
            padding-left: 24px;
            padding-right: 24px;
        }

        .s3-1_flyer_right {
            width: 70%;
        }

        .s3-1_contactform_right {
            float: right;
        }

        #cssmenu > ul > li > a {
            color: #ea0512 !important;
            text-decoration: none;
            font-family: 'UbuntuMedium';
        }

        .optional-label {
            font-size: 15px;
            font-family: 'Conv_Ubuntu-Light';
        }

        .code-msg {
            font-family: 'UbuntuMedium';
            font-size: 13px;
        }

        @@media screen and (max-width : 500px) {
            .s3-1_fir1_b1, .s3-1_fir1_b2, .s3-1_fir1_b3 {
                width: 105% !important;
            }
        }

        @@media screen and (max-width : 900px) {
            .fcd_white3_op {
                position: relative;
                top: 25%;
            }
        }

        button:disabled {
            background-color: #b1a9a9 !important;
            cursor: default;
        }
    </style>
}

<div class="registration_page_container registration_page_container2">
    <div class="rpc_inner">
        <h2>Update Account</h2>
        <h3>Please key in your details to complete account registration.</h3>
        @if (ViewBag.StatusMessage != null)
        {
            <noscript>
                <h3 style="color:#ff0000">@ViewBag.StatusMessage</h3>
            </noscript>
        }
        @using (Html.BeginForm("UpdateAccount", "Member", FormMethod.Post, new { @Id = "register-form", @role = "form", @class = "contact-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Token", (string)ViewBag.Token) 
            @Html.Hidden("Email", (string)ViewBag.Email)

            if (IsPost)
            {
                @Html.ValidationSummary()
            }

    <!-- user name pass start -->
            <div class="rpc_redtabs rpc_minustab" value="mem-userpass">Account Password</div>
            <div class="mem-userpass rpc_white_tabcontainer" id="userpasss">
                <div class="rpc_wtc_inner">
                    <div class="s3-1_contactform_left">
                        <div class="s3-1_cf_lable_text">Password<span>*</span></div>
                        <div>@Html.PasswordFor(model => model.Password, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                        @Html.ValidationMessageFor(model => model.Password, null, new { @class = "textforerrormsg" })
                    </div>
                    <div class="s3-1_contactform_right">
                        <div class="s3-1_cf_lable_text">Confirm Password<span>*</span></div>
                        <div>@Html.PasswordFor(model => model.ConfirmPassword, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                    </div>
                    <div class="clearfix"></div>
                    @*<div class="s3-1_contactform_left">
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "textforerrormsg" })
                        </div>*@
                    <div class="s3-1_contactform_right">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "textforerrormsg" })
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
    <!-- user name pass end -->
        <!-- personal detail start -->
            <div class="rpc_redtabs" value="mem-userpass" id="personal_detail">Personal Details</div>
            <div class="mem-userpass rpc_white_tabcontainer">
                <div class="rpc_wtc_inner">
                    <div>

                        <!-- line start -->
                        <div class="s3-1_fi_row1">
                            <div class="s3-1_contactform_title_first_row">
                                <div class="s3-1_cf_lable_text">Title<span>*</span></div>
                                <div class="s3-1_fir1_b1">
                                    <div>
                                        @Html.DropDownListFor(model => model.TitleCode, titleList, new { @class = "s3-1_title" })
                                    </div>
                                </div>
                            </div>
                            <div class="s3_1_contactform_name">
                                <div class="s3-1_contactform_firstname_first_row">
                                    <div class="s3-1_cf_lable_text">First Name<span>*</span> (As per passport)</div>
                                    <div class="s3-1_fir1_b2">
                                        <div>
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "s3-1_full_textbox_name_com" })
                                            @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "textforerrormsg" })
                                        </div>
                                    </div>
                                </div>
                                <div class="s3-1_contactform_familyname_first_row">
                                    <div class="s3-1_cf_lable_text">Last Name<span>*</span> (As per passport)</div>
                                    <div class="s3-1_fir1_b3">
                                        <div>
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "s3-1_full_textbox_name_com" })
                                            @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "textforerrormsg" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        @Html.Partial("~/Views/Shared/MasterThemes/_NameGuideTooltip.cshtml")

                        <div class="clear"></div>

                        <!-- line end -->
                        <!-- line start -->
                        <div class="s3-1_fullform_left">
                            <div class="s3-1_contactform_left">
                                <div class="s3-1_cf_lable_text">
                                    D.O.B
                                </div>
                                <div class="s3-1_ff_black_border_box">
                                    <div class="s3-1_dob_container">
                                        <div class="s3-1_b1_lable">Day</div>
                                        <div>
                                            @Html.DropDownList("user_dob_day", Mayflower.General.Utilities.DaysDropList, "-", new { @class = "s3-1_dob day" })
                                        </div>
                                    </div>
                                    <div class="s3-1_dob_container">
                                        <div class="s3-1_b1_lable">Month</div>
                                        <div>
                                            @Html.DropDownList("user_dob_month", Mayflower.General.Utilities.MonthsDropList2(1), "-", new { @class = "s3-1_dob month" })
                                        </div>
                                    </div>
                                    <div class="s3-1_dob_container">
                                        <div class="s3-1_b1_lable">Year</div>
                                        <div>
                                            @Html.DropDownList("user_dob_year", Mayflower.General.Utilities.DOBYearsDropList.Where(x => Convert.ToInt32(x.Value) <= DateTime.Now.Year - 16), "-", new { @class = "s3-1_dob year" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.DOB)
                                    <div class="clear"></div>
                                </div>
                                @Html.ValidationMessageFor(model => model.DOB, null, new { @class = "textforerrormsg" })
                            </div>

                            <div class="s3-1_contactform_right">
                                <div class="s3-1_cf_lable_text">IC Number</div>
                                @Html.TextBoxFor(model => model.IdentityNo, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })
                                @Html.ValidationMessageFor(model => model.IdentityNo, null, new { @class = "textforerrormsg" })
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="s3-1_fullform_right"></div>
                        <div class="clear"></div>
                        <!-- line end -->
                        <!-- line start -->
                        <div class="s3-1_fullform_left">
                            <div class="s3-1_contactform_left">
                                @* Hide in phase 1 first before go live *@
                                @*<div class="s3-1_cf_lable_text">Frequent traveller number</div>
                                    <div class="ffn_inputbox" style="position:relative">
                                        <div class="ff-img-container"><img src="@Url.Content(UtilitiesService.GetAirlineImagePath("noairline"))"></div>
                                        @Html.EditorFor(model => model.FrequentFlyerAirlineCode, "PreferenceUsage/PreferredAirline")
                                        @Html.TextBoxFor(model => model.FrequentFlyerNumber, new { @class = "s3-1_flyer_right", @style = "padding-right:24px" })
                                        <div class="clear"></div>
                                        @Html.ValidationMessageFor(model => model.FrequentFlyerAirlineCode, null, new { @class = "textforerrormsg" })
                                        @Html.ValidationMessageFor(model => model.FrequentFlyerNumber, null, new { @class = "textforerrormsg" })
                                        <div class="ffn_inputboxulli_container">
                                        </div>
                                    </div>*@
                                <div class="s3-1_cf_lable_text">Passport Issuing country</div>
                                <div>@Html.DropDownListFor(model => model.PassportIssuePlace, Mayflower.General.Utilities.CountryDropList(), "-", new { @class = "s3-1_full_selectbox_com" })</div>
                                <div class="clear"></div>
                                @Html.ValidationMessageFor(model => model.PassportIssuePlace, null, new { @class = "textforerrormsg" })
                            </div>
                            <div class="s3-1_contactform_right">
                                <div class="s3-1_cf_lable_text">Passport Number</div>
                                <div>@Html.TextBoxFor(model => model.PassportNo, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                                <div class="clear"></div>
                                @Html.ValidationMessageFor(model => model.PassportNo, null, new { @class = "textforerrormsg" })
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="s3-1_fullform_right"></div>
                        <div class="clear"></div>
                        <!-- line end -->
                        <!-- line start -->
                        <div class="s3-1_fullform_left">
                            <div class="s3-1_contactform_left">
                                <div class="s3-1_cf_lable_text">Passport Expiry date</div>
                                <div class="s3-1_ff_black_border_box">
                                    <div class="s3-1_dob_container">
                                        <div class="s3-1_b1_lable">Day</div>
                                        <div>
                                            @Html.DropDownList("passport_expire_day", Mayflower.General.Utilities.DaysDropList, "-", new { @class = "s3-1_dob day" })
                                        </div>
                                    </div>
                                    <div class="s3-1_dob_container">
                                        <div class="s3-1_b1_lable">Month</div>
                                        <div>
                                            @Html.DropDownList("passport_expire_month", Mayflower.General.Utilities.MonthsDropList2(1), "-", new { @class = "s3-1_dob month" })
                                        </div>
                                    </div>
                                    <div class="s3-1_dob_container">
                                        <div class="s3-1_b1_lable">Year</div>
                                        <div>
                                            @Html.DropDownList("passport_expire_year", Mayflower.General.Utilities.ExpiredYearsDropList(5), "-", new { @class = "s3-1_dob year" })
                                        </div>
                                    </div>
                                    @Html.HiddenFor(model => model.PassportExpiryDate)
                                    <div class="clear"></div>
                                </div>
                                @Html.ValidationMessageFor(model => model.PassportExpiryDate, null, new { @class = "textforerrormsg" })
                            </div>
                            <div class="s3-1_contactform_right">
                                @* Due to hide Frequent Traveller No, temp move position *@
                                @*<div class="s3-1_cf_lable_text">Passport Issuing country</div>
                                    <div>@Html.DropDownListFor(model => model.PassportIssuePlace, Mayflower.General.Utilities.CountryDropList(), "-", new { @class = "s3-1_full_selectbox_com" })</div>
                                    <div class="clear"></div>
                                    @Html.ValidationMessageFor(model => model.PassportIssuePlace, null, new { @class = "textforerrormsg" })*@
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="s3-1_fullform_right"></div>
                        <div class="clear"></div>
                        <!-- line end -->

                    </div>
                </div>
            </div>
        <!-- personal detail end -->
        <!-- contact Detail start -->
            <div class="rpc_redtabs" value="mem-userpass" id="contact_detail">Contact Details</div>
            <div class="mem-userpass rpc_white_tabcontainer">
                <div class="rpc_wtc_inner">
                    <!-- line start -->
                    <div class="s3-1_fullform_left">
                        <div class="s3-1_contactform_left">
                            <div class="s3-1_cf_lable_text">Primary Phone Number<span>*</span></div>
                            <div>
                                @Html.DropDownListFor(model => model.PhoneCode1, Mayflower.General.Utilities.PhoneCodeList("MYS"), new { @class = "s3-1_phonenumber_left", @data_val = "true", @data_val_required = "Primary Phone Code is required.", @required = "true" })
                                @Html.TextBoxFor(model => model.PrimaryPhone, new { @class = "s3-1_phonenumber_right", @data_val = "true", @data_val_required = "Primary Phone is required.", @required = "true", @style = "padding-right:24px" })
                                <div class="clear"></div>
                                @Html.ValidationMessageFor(model => model.PhoneCode1, null, new { @class = "textforerrormsg phonecodeerror" })
                                @Html.ValidationMessageFor(model => model.PrimaryPhone, null, new { @class = "textforerrormsg phonenerror" })
                            </div>
                        </div>
                        <div class="s3-1_contactform_right">
                            <div class="s3-1_cf_lable_text">Secondary Phone Number</div>
                            <div>
                                @Html.DropDownListFor(model => model.PhoneCode2, Mayflower.General.Utilities.PhoneCodeList(), "-", new { @class = "s3-1_phonenumber_left" })
                                @Html.TextBoxFor(model => model.SecondaryPhone, new { @class = "s3-1_phonenumber_right", @style = "padding-right:24px" })
                                <div class="clear"></div>
                                @Html.ValidationMessageFor(model => model.PhoneCode2, null, new { @class = "textforerrormsg phonecodeerror" })
                                @Html.ValidationMessageFor(model => model.SecondaryPhone, null, new { @class = "textforerrormsg phonenoerror" })
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <!-- line end -->
                    <!-- line start -->
                    <div class="s3-1_fullform_left">
                        <div class="s3-1_contactform_left">
                            <div class="s3-1_cf_lable_text">Address Line1</div>
                            <div>@Html.TextBoxFor(model => model.Address1, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="s3-1_contactform_right">
                            <div class="s3-1_cf_lable_text">Address Line2</div>
                            <div>@Html.TextBoxFor(model => model.Address2, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.Address2, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="s3-1_fullform_right"></div>
                    <div class="clear"></div>
                    <!-- line end -->
                    <!-- line start -->
                    <div class="s3-1_fullform_left">
                        <div class="s3-1_contactform_left">
                            <div class="s3-1_cf_lable_text">City</div>
                            <div>@Html.TextBoxFor(model => model.City, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.City, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="s3-1_contactform_right">
                            <div class="s3-1_cf_lable_text">Postal Code</div>
                            <div>@Html.TextBoxFor(model => model.Postcode, new { @maxlength = "15", @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.Postcode, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="s3-1_fullform_right"></div>
                    <div class="clear"></div>
                    <!-- line end -->
                    <!-- line start -->
                    <div class="s3-1_fullform_left">
                        <div class="s3-1_contactform_left">
                            <div class="s3-1_cf_lable_text">State</div>
                            <div>@Html.TextBoxFor(model => model.AddressProvinceState, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.AddressProvinceState, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="s3-1_contactform_right">
                            <div class="s3-1_cf_lable_text">Country</div>
                            <div>
                                @Html.DropDownListFor(model => model.CountryCode, Mayflower.General.Utilities.CountryDropList(), "-", new { @class = "s3-1_full_selectbox_com" })
                            </div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.CountryCode, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="s3-1_fullform_right"></div>
                    <div class="clear"></div>
                    <!-- line end -->
                </div>
            </div>
        <!-- contact detail end -->
        <!-- company details start -->
            <div class="rpc_redtabs" value="mem-userpass" id="company_detail">Company Details <span class="optional-label">(Optional)</span></div>
            <div class="mem-userpass rpc_white_tabcontainer">
                <div class="rpc_wtc_inner">
                    <!-- line start -->
                    <div class="s3-1_fullform_left">
                        <div class="s3-1_contactform_left">
                            <div class="s3-1_cf_lable_text">Company Name</div>
                            <div>@Html.TextBoxFor(model => model.CompanyName, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.CompanyName, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="s3-1_contactform_right">
                            <div class="s3-1_cf_lable_text">Company Address Line1</div>
                            <div>@Html.TextBoxFor(model => model.CompanyAddress1, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.CompanyAddress1, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="s3-1_fullform_right"></div>
                    <div class="clear"></div>
                    <!-- line end -->
                    <!-- line start -->
                    <div class="s3-1_fullform_left">
                        <div class="s3-1_contactform_left">
                            <div class="s3-1_cf_lable_text">Company Address Line2</div>
                            <div>@Html.TextBoxFor(model => model.CompanyAddress2, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.CompanyAddress2, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="s3-1_contactform_right">
                            <div class="s3-1_cf_lable_text">Company's City</div>
                            <div>@Html.TextBoxFor(model => model.CompanyCity, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.CompanyCity, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="s3-1_fullform_right"></div>
                    <div class="clear"></div>
                    <!-- line end -->
                    <!-- line start -->
                    <div class="s3-1_fullform_left">
                        <div class="s3-1_contactform_left">
                            <div class="s3-1_cf_lable_text">Company Postal Code</div>
                            <div>@Html.TextBoxFor(model => model.CompanyPostcode, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.CompanyPostcode, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="s3-1_contactform_right">
                            <div class="s3-1_cf_lable_text">Company's State</div>
                            <div>@Html.TextBoxFor(model => model.CompanyAddressProvinceState, new { @class = "s3-1_full_textbox_com", @style = "padding-right:24px" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.CompanyAddressProvinceState, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="s3-1_fullform_right"></div>
                    <div class="clear"></div>
                    <!-- line end -->
                    <!-- line start -->
                    <div class="s3-1_fullform_left">
                        <div class="s3-1_contactform_left">
                            <div class="s3-1_cf_lable_text">Company's Country</div>
                            <div>@Html.DropDownListFor(model => model.CompanyAddressCountryCode, Mayflower.General.Utilities.CountryDropList(), "-", new { @class = "s3-1_full_selectbox_com" })</div>
                            <div class="clear"></div>
                            @Html.ValidationMessageFor(model => model.CompanyAddressCountryCode, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="s3-1_contactform_right">

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="s3-1_fullform_right"></div>
                    <div class="clear"></div>
                    <!-- line end -->
                </div>
            </div>
        <!-- company details end -->

            <div class="mr_form_confirm">
                <button type="submit" id="updateSubmit" class="add-cursor-pointer" value="Update">
                    <span>Submit </span><img class="btn-loadstate" src="/Images/loading_40x40.gif" style="width: 20px;display: none;vertical-align: middle;margin-left: 1em;">
                </button>
            </div>

        }

    </div>
</div>

@section scripts{
    
<script>
    $(document).ready(function (e) {
        $("[name*=PassportExpiryDate]").rules("remove", "date");
        $("[name*=DOB]").rules("remove", "date");
        $("[name*=PassportExpiryDate]").rules("add", "passportValid");
        $("[name*=DOB]").rules("add", "dobValid");
        $("select[name*='passport_expire']").each(function (index, element) {
            $(element).rules("add", "passportValid");
        });
        $("select[name*='user_dob']").each(function (index, element) {
            $(element).rules("add", "dobValid");
        });
    });

    $(function () {
        var form = $('#register-form');
        var formValidator = form.validate();
        $.validator.setDefaults({
            ignore: [],
        });
        formValidator.settings.ignore = ''; 
        var errors = formValidator.numberOfInvalids();

        var focusError = function (element) {
            $('html, body').animate({
                scrollTop: $(element).offset().top
            }, 300);
        };

        var validateForm = function () {
            var isExpend = false;
            if (formValidator.errorList.length > 0) {
                var dfd = $.Deferred();

                for (x = 0; x < formValidator.errorList.length; x++) {
                    if (!isExpend) {
                        var element = formValidator.errorList[x].element;
                        $('.rpc_redtabs').next().each(function (index, e) {
                            var fi = $(e).find(element);
                            var fiVisible = fi.is(':visible');
                            if (fiVisible) {
                                isExpend = true;
                            }
                            if (fi.length > 0 && x == 0 && !fiVisible) {
                                isExpend = true;
                                $(e).slideToggle();
                                $(e).prev().toggleClass('rpc_minustab');
                                dfd.resolve();
                            }
                        });
                    }
                }
                dfd.done(function (e) {
                    formValidator.focusInvalid();
                });
            }
        }

        $('input[name="SecondaryPhone"], select[name="PhoneCode2"]').on('change', function (e) {
            phoneValidation();
            $('select[name="PhoneCode2"]').valid();
            $('input[name="SecondaryPhone"]').valid();
        });

        var phoneValidation = function () {
            //if($(element).val().length == 0){
            if ($('input[name="SecondaryPhone"]').val().length == 0 && $('select[name="PhoneCode2"]').val().length == 0) {
                $('input[name="SecondaryPhone"]').rules('remove', 'required');
                $('select[name="PhoneCode2"]').rules('remove', 'required');
                $('[data-valmsg-for="PhoneCode2"]').empty();
            }
            else {
                $('input[name="SecondaryPhone"]').rules('add', 'required');
                $('select[name="PhoneCode2"]').rules('add', 'required');
            }
        }

        form.on('submit', function (e) {
            validateForm();
            var isValid = $(this).valid();

            if (!isValid) {
                e.preventDefault();
                validateForm();
            }
            else {
                $('#updateSubmit').attr('disabled', 'disabled');
                $('#updateSubmit span').text('Please wait...');
                $('form .btn-loadstate').show();
            }
        });
    });
</script>    
}