@using Alphareds.Module.Common;
@model Alphareds.Module.Model.SearchHotelModel
@{
    string tripid = Request.QueryString["tripid"];
}
<style>
    .destinationClear {
        top: 0%;
        right: 2%;
        background-size:12px !important; 
    }

    #starrating {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        border-bottom: 1px solid #1d1b1a;
        width: 100%;
        background-color: transparent;
        border-radius: 0;
    }

    .ffc2_r2_b5 img, .ffc2_r2_b5_1 img {
        width: 13px !important;
    }

    .ffc1_right1 {
        width: 77%;
    }

    .ffc2_r1_b4, .ffc2_r1_b2, .ffc2_r3_b4_h, .ffc2_r3_b2 {
        width: 28%;
    }

    .ffc2_r1_b3, .ffc2_r3_b3_h {
        width: 23%;
        float: left;
        font-size: 14px;
        color: #1c1c1c;
        padding-top: 5px;
        text-align: center;
    }

    .ffc2_r3_b1_h, .ffc2_r1_b1 {
        width: 13%;
    }

    .ffc1_left1 {
        width: 15%;
    }

    .tabs_content_container_lb {
        max-width: 95%;
    }

    .ttcc_text1_lb {
        margin-bottom: 20px;
    }

    .tttt {
        background-image: url('../../Images_hotel/tt_top.png');
        width: 30px;
        height: 10px;
        line-height: 0px;
        font-size: 0px;
        position: absolute;
        left: 195px;
        bottom: 100px;
        transform: rotate(90deg);
    }

    .ttt1 {
        background-color: #fffdab;
        padding: 20px;
        border: 1px solid #ffb600;
        text-align: left;
    }

    .yellow_toll_tip1 {
        width: 205px;
        position: absolute;
        line-height: 14px;
        left: -200px;
        bottom: -100px;
        display: none;
        z-index: 99999;
        font-size: 13px;
    }

    .ffc2_r1_b2 input, .ffc2_r1_b4 {
        background-color: transparent;
        /*background-image: url(../images/dd_arrow.png);*/
        background-image: url('../../Images/calenderr.png');
        background-repeat: no-repeat;
        background-position: right center;
        padding-left: 5px;
    }
    /* select with CSS avatar icons */
    div.ui-selectmenu-open {
        position: absolute;
        z-index: 999999;
    }

    .ui-menu-icons .ui-menu-item-wrapper {
        font-size: 14px;
        margin-top: 0px !important;
        padding: 3px 1em 3px .4em !important;
    }

    .ui-icon-triangle-1-s {
        display: none;
    }

    #starrating-button {
        background-image: url(../images/dd_arrow.png);
        background-repeat: no-repeat;
        background-position: right center;
        border: none;
        border-bottom: 1px solid #1d1b1a;
        top: 20px;
        font-family: 'UbuntuMedium';
        font-size: 13px;
        height: 23px;
        padding-top: 3px;
        padding-left: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        background-color: transparent;
        margin-top: -40px;
    }

    #starrating-menu {
        min-width: 148px;
    }

    #starrating-button:focus {
        outline: none;
    }


    @@media screen and (max-width : 600px) {
        .ffc1_left1 {
            width: 69px;
        }

        .flight_form_container2, .ffc1_left1 {
            padding-left: 0px !important;
        }

        #starrating {
            padding-left: 0px;
        }

        .ffc2_r1_b3, .ffc2_r3_b3_h {
            padding-right: 0px;
            width: 18%;
        }

        .ffc2_r3_b1_h, .ffc2_r1_b1 {
            width: 18%;
        }

        .ffc1_right1 {
            width: 70%;
        }

        .tttt {
            background-image: url(../images_hotel/tt_top.png);
            width: 30px;
            height: 10px;
            line-height: 0px;
            font-size: 0px;
            position: absolute;
            left: 199px;
            bottom: 105px;
            -webkit-transform: rotate(90deg);
        }

        .ttt1 {
            background-color: #fffdab;
            padding: 20px;
            border: 1px solid #ffb600;
            text-align: left;
        }

        .yellow_toll_tip1 {
            width: 210px;
            position: absolute;
            line-height: 14px;
            left: -220px;
            bottom: -100px;
            display: none;
            z-index: 99999;
            font-size: 13px;
        }
    }

    .date_err {
        padding-left: 13%;
        float: left;
    }

    .hoteldate {
        margin-bottom: 0px;
    }

    .forfield {
        margin-top: 12px;
    }
</style>



<style>
    @@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
        .tabs_content_container_lb {
            font-size: 12px !important;
            font-weight: normal !important;
            height: 80%;
        }

        .ffc1_left1 {
            width: 23%;
        }

        .ffc1_right1 {
            width: 60%;
        }

        .tabs_content_container_lb {
            margin-bottom: 100px;
        }
    }
</style>

@using (Html.BeginForm("GetHotelSearch", "Hotel", new { tripid }, FormMethod.Post))
{
    <div class="fullcover_div6 hotel">
        <div class="modifysearch_white1nn">
            <div class="tl_right loginclose"><img src="@Url.Content("~/images_hotel/close.jpg")" width="31" height="29" alt=""></div>
            <div id="search_hotel">
                <div class="tabs_content_container_lb">

                    <div class="ttcc_text1_lb"><b>I'm looking for</b></div>
                    <div class="hotel_form_container1">
                        <div class="ffc1_left1 forlb_align_left"><b>Going to</b></div>
                        <div class="ffc1_right1">
                            <div class="clearTxt_wrap">
                                @Html.TextBoxFor(model => model.Destination, new { @id = "destination", @placeholder = "Enter Destination" })
                                <span class="clearTxt destinationClear" style="display: none;"></span>
                            </div>
                            <ul class="list-group to_from_ul" id="from_locations"></ul>
                            <input type="hidden" id="project-id">
                            @Html.ValidationMessageFor(model => model.Destination, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <div class="flight_form_container2" style="width:100%">
                        <div class="ffc2_r1_b1 forlb_align_left hoteldate"><b>From</b></div>
                        <div class="ffc2_r1_b2 hoteldate">@Html.TextBoxFor(model => model.ArrivalDate, "{0:dd-MMM-yyyy}", new { @id = "datep3" })</div>
                        <div class="ffc2_r1_b3 hoteldate"><b>Till</b></div>
                        <div class="ffc2_r1_b4 hoteldate">@Html.TextBoxFor(model => model.DepartureDate, "{0:dd-MMM-yyyy}", new { @id = "datep4" })</div>
                        <div class="date_err textforerrormsg"></div>
                        <div class="clear"></div>

                        <div class="ffc2_r2_b1 forlb_align_left forfield"><b>For</b></div>
                        <div class="ffc2_r2_b2 forfield">
                            @Html.DropDownListFor(model => model.NoOfRoom, (List<SelectListItem>)ViewData["ROOM"], null, null)
                        </div>
                        <div class="ffc2_r2_b3 forfield">
                            @Html.DropDownListFor(model => model.NoOfAdult, (List<SelectListItem>)ViewData["ADULT"], null, null)
                        </div>
                        <div class="ffc2_r2_b4 forfield">
                            @Html.DropDownListFor(model => model.NoOfInfant, (List<SelectListItem>)ViewData["CHILD"], null, null)
                        </div>
                        <div class="ffc2_r2_b5 forfield">
                            <img src="@Url.Content("~/images/i-icon.png")" width="13" height="12" alt="" class="tooltip1">
                            <div class="yellow_toll_tip">
                                <div class="ttt"><img src="@Url.Content("~/images_hotel/toll_tip_top.png")" width="215" height="13" alt=""></div>
                                <div class="ttt1">
                                    <ul>
                                        <li>Adult 11+ Years Old</li>
                                        <li>Child 0-11 Years Old</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                        <div class="ffc2_r3_b1_h forlb_align_left"><b>Staying</b></div>
                        <div class="ffc2_r3_b2">
                            <select name="starrating" id="starrating">
                                @ViewData["STAR"].ToString()
                                <option value="10" data-class="avatar" data-style="background-position:-222px -111px;">All Stars</option>
                                <option value="5" data-class="avatar" data-style="background-position: -222px -111px;">5 Stars</option>
                                <option value="4" data-class="avatar" data-style="background-position: -222px -111px;">4 Stars</option>
                                <option value="3" data-class="avatar" data-style="background-position: -222px -111px;">3 Stars</option>
                                <option value="2" data-class="avatar" data-style="background-position: -222px -111px;">2 Stars</option>
                                <option value="1" data-class="avatar" data-style="background-position: -222px -111px;">1 Star</option>
                            </select>
                            @Html.HiddenFor(model => model.Star, new { @id = "hidStar" })
                        </div>
                        <div class="ffc2_r3_b3_h"><b>With</b></div>
                        <div class="ffc2_r3_b4_h">
                            @Html.TextBoxFor(model => model.PromoCode, new { placeholder = "Promo Code" })
                            @Html.ValidationMessageFor(model => model.PromoCode, null, new { @class = "textforerrormsg" })
                        </div>
                        <div class="ffc2_r2_b5_1">
                            <img src="@Url.Content("~/images/i-icon.png")" width="13" height="39" alt="" class="tooltip2">
                            <div class="yellow_toll_tip1">
                                <div class="tttt">@*<img src="../images_hotel/toll_tip_top.png" width="215" height="13" alt="">*@</div>
                                <div class="ttt1">
                                    Mayflower, from time to time, may be running special promotions with selected partners. Shall you deem to have received one of this Promo Code, enter your personalized Promo Code here to enjoy more savings (Terms & conditions apply)!<br><br>

                                    Subscribe our E-Newsletter today to stay tuned for more offers!
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    @if (Core.IsForStaging)
                    {
                        @Html.Partial("~/Views/Hotel/DevelopmentViews/_AdvancedSearch.cshtml", Model)
                    }

                    <div class="flight_form_container3">
                        <button name="modifiySubBtn" type="submit" value="OK,show me!">OK,show me!</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
                                }
