@model ReserveRoomModel
@using Alphareds.Module.Model;
@using Alphareds.Module.Common;
@{
    string tripid = Request.QueryString["tripid"];
    List<SelectListItem> titleList = UtilitiesService.GetTitleList(true, "ADT");
    List<SelectListItem> contactTitleList = UtilitiesService.GetTitleList(true, "ADT", Model.contactDetail != null ? Model.contactDetail.Title : string.Empty);

    List<string> guestValue = new List<string>();
    int counter = 0;
    int j = 1;
    var room = Model.GuestRooms;

    IEnumerable<SelectListItem> roomdropdown = from a in Model.GuestRooms
                                               select new SelectListItem
                                               {
                                                   Text = "Room " + (j++).ToString("D2") + " " + a.RoomTypeName,
                                                   Value = a.RoomTypeName
                                               };
}

<!-- BREADCRUMP START -->
<div class="s3_breadcrumpnew_container mobileonly2">
    <div class="s3_bc_fourboxes s3_bc_bg">Select Room</div>
    <div class="s3_bc_fourboxes s3_bc_bg1">Contact Details</div>
    <div class="s3_bc_fourboxes s3_bc_bg2">Payment</div>
    <div class="s3_bc_fourboxes s3_bc_bg3">Confirmation</div>
    <div class="clear"></div>
</div>

<div class="s3_breadcrumpnew_container mobilepic">
    <div class="s3_bc_fourboxes s3_bc_bg"><img class="picL3" src="~/Images_hotel/search.png" height="20" width="20" alt="" title="Select Room" /></div>
    <div class="s3_bc_fourboxes s3_bc_bg1"><img class="picL3" src="~/Images_hotel/contactdetails.png" height="20" width="20" alt="" title="Contact Details" /></div>
    <div class="s3_bc_fourboxes s3_bc_bg2"><img class="picL3" src="~/Images_hotel/payment.png" height="20" width="20" alt="" title="Payment" /></div>
    <div class="s3_bc_fourboxes s3_bc_bg3"><img class="picL3" src="~/Images_hotel/confirmation.png" height="20" width="20" alt="" title="Confirmation" /></div>
    <div class="clear"></div>
</div>
<!-- BREADCRUMP END -->
<!-- GUEST DETAIL BOX START -->
<div class="s3-1_guestdetail_box">
    <h2>Contact Details</h2>
</div>
<div class="s3-1_guestdetail_box" style="overflow: auto;">
    <ul class="ulforhotels">
        <li class="s3-1_inactive_cd s3-1_activli" value="contactform">Contact<br>Details</li>
        @foreach (var item in room)
        {
            counter += 1;
            string selector = "guest" + counter.ToString() + "form";
            <li class="s3-1_inactive_guest" value="@selector">
                <div class="igb1">ROOM</div>
                <div class="igb2">@counter.ToString("D2")</div>
                <div class="igb3 igbguest">Guest</div>
            </li>
        }
        @{ counter = 0;}
    </ul>
    <div class="clear"></div>
</div>
<!-- GUEST DETAIL BOX END -->

<div class="cdhs_heading" id="headingforsmall">Contact Details</div>

@*<!-- MOBILE  TAB FOR FLIGHT HOTEL START-->
    <div class="mobileonly s3_mobtabcont">
        <div class="s3_mobtabcont_half hotel_half_but">
            <div class="s3_mobtabcont_half_inner hotel_inactive">Hotel</div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- MOBILE  TAB FOR FLIGHT HOTEL START-->*@

@*<!-- FLIGHT FORM CONTAINER START -->
    <!-- FLIGHT FORM CONTAINER END -->*@

<!-- HOTEL FORM CONTAINER START -->
@using (Html.BeginForm("GuestDetails", "Hotel", new { tripid }, FormMethod.Post, new { @id = "TravellerDetailForm" }))
{
    <div class="s3-1_form" id="hotelform_full">
        <div class="s3-1_form_inner">

            <!-- contact form start -->
            <div class="contact_detail_heading_small" value="contactform" headname="Contact Detail">
                <div class="chhc_bar cdhc_redbar default_but">Contact Details</div>
            </div>
            <div id="contactform" class="booking-form">

                <div class="s3-1_fi_flying_icon">
                    @Html.StyledCheckBoxFor(model => model.ImFlying, "I'm Travelling - ", "checkbox3")
                    @Html.DropDownList("roomChoise", roomdropdown, new { @class = "s3-1_title roomChoise" })
                </div>
                <!-- line start -->
                <div class="s3-1_fi_row1">
                    <div class="s3-1_fir1_b1">
                        <div class="s3-1_b1_lable">Title<span>*</span></div>
                        <div class="impreq_padding_right">
                            <div>
                                @Html.DropDownListFor(model => model.contactDetail.Title, contactTitleList, new { @class = "s3-1_title" })
                            </div>
                        </div>
                    </div>
                    <div class="s3-1_fir1_b2">
                        <div class="s3-1_b1_lable">First Name<span>*</span></div>
                        <div class="impreq_padding_right">
                            <div>
                                @Html.TextBoxFor(model => Model.contactDetail.FirstName, new { @class = "s3-1_full_textbox_name_com" })
                            </div>
                        </div>
                        <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.contactDetail.FirstName, null)</div>
                    </div>
                    <div class="s3-1_fir1_b3">
                        <div class="s3-1_b1_lable">Family Name<span>*</span></div>
                        <div>@Html.TextBoxFor(model => Model.contactDetail.FamilyName, new { @class = "s3-1_full_textbox_name_com" })</div>
                        <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.contactDetail.FamilyName, null)</div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="s3-1_fi_row1-right">
                    <img src="@Url.Content("~/images/toll_tip_ico.jpg")" width="16" height="15" alt="">
                    <div class="s3-1_form_toll_tip">
                        <div class="tt_top_form_y"><img src="@Url.Content("~/images/tt_top.png")" width="34" height="19" alt=""></div>
                        <div class="s3-1_form_toll_tip_b">
                            <div class="s3-1_fttp_redcolor s3-1_fttp_marbot">
                                Please enter your name as it appears in
                                your passport, see guide below:
                            </div>
                            <div class="s3-1_fttp_marbot">
                                <span class="s3-1_fttp_redcolor">Example 1: Mr.Mohammad Ali Bin Abdullah</span><br>
                                Title: Mr.<br>
                                First / Given Name : Abdullah<br>
                                Last Name / Surname: Mohammad Ali Bin<br>
                            </div>
                            <div class="s3-1_fttp_marbot">
                                <span class="s3-1_fttp_redcolor">Example 2:Ms.Janet Low Ying Ying</span><br>
                                Title: Ms.<br>
                                First / Given Name : Ying Ying Janet<br>
                                Last Name / Surname: Low<br>
                            </div>
                            <div>
                                <span class="s3-1_fttp_redcolor">Example 3: Mr.Nathan A/L Mogan</span><br>
                                Title: Mr.<br>
                                First / Given Name : Mogan<br>
                                Last Name / Surname: Nathan<br>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="clear">&nbsp;</div>*@
                <!-- line end -->
                <!-- line start -->
                <div class="s3-1_fullform_left">
                    <div class="s3-1_contactform_left">
                        <div class="">
                            <div class="s3-1_cf_lable_text">Email<span>*</span></div>
                            <div>@Html.TextBoxFor(model => Model.contactDetail.Email, new { @class = "s3-1_full_textbox_name_com" })</div>
                            <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.contactDetail.Email, null)</div>
                        </div>
                    </div>

                    <div class="s3-1_contactform_right">
                        <div class="s3-1_cf_lable_text">D.O.B</div>
                        <div class="s3-1_ff_black_border_box">
                            <div class="s3-1_dob_container">
                                <div class="s3-1_b1_lable">Day</div>
                                <div>
                                    @Html.DropDownListFor(model => model.contactDetail.DateOfMonth.Day, Mayflower.General.Utilities.DaysDropList, "-", new { @class = "s3-1_dob day" })
                                </div>
                            </div>
                            <div class="s3-1_dob_container">
                                <div class="s3-1_b1_lable">Month</div>
                                <div>
                                    @Html.DropDownListFor(model => model.contactDetail.DateOfMonth.Month, Mayflower.General.Utilities.MonthsDropList2(1), "-", new { @class = "s3-1_dob month" })
                                </div>
                            </div>
                            <div class="s3-1_dob_container">
                                <div class="s3-1_b1_lable">Year</div>
                                <div>
                                    @Html.DropDownListFor(model => model.contactDetail.DateOfMonth.Year, Mayflower.General.Utilities.DOBYearsDropList.Where(x => Convert.ToInt32(x.Value) <= DateTime.Now.Year - 18), "-", new { @class = "s3-1_dob year" })
                                </div>
                            </div>
                            @Html.Hidden("BookingContactPerson.DOB")
                            <div class="clear"></div>
                        </div>
                        <div class="field_error_msg">@Html.ValidationMessage("BookingContactPerson.DOB")</div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="s3-1_fullform_right"></div>
                <div class="clear"></div>
                <!-- line end -->
                <!-- line start -->
                <div class="s3-1_fullform_left">
                    <div class="s3-1_contactform_left">
                        <div class="s3-1_cf_lable_text">Primary Phone Number<span>*</span></div>
                        <div>
                            @Html.DropDownListFor(x => x.contactDetail.PrimaryPhoneNoPrefix, Mayflower.General.Utilities.PhoneCodeList("MYS").OrderBy(x => x.Text), new { @class = "s3-1_phonenumber_left" })
                            @Html.TextBoxFor(x => x.contactDetail.PrimaryPhoneNo, new { @class = "s3-1_phonenumber_right" })
                            <div class="clear"></div>
                        </div>
                        <div class="field_error_msg">@Html.ValidationMessageFor(x => x.contactDetail.PrimaryPhoneNoPrefix, null)</div>
                        <div class="field_error_msg">@Html.ValidationMessageFor(x => x.contactDetail.PrimaryPhoneNo, null)</div>
                    </div>
                    <div class="s3-1_contactform_right">
                        <div class="s3-1_cf_lable_text">Secondary Phone Number</div>
                        <div>
                            @Html.DropDownListFor(x => x.contactDetail.SecondaryPhoneNoPrefix, Mayflower.General.Utilities.PhoneCodeList().OrderBy(x => x.Text), "-", new { @class = "s3-1_phonenumber_left" })
                            @Html.TextBoxFor(x => x.contactDetail.SecondaryPhoneNo, new { @class = "s3-1_phonenumber_right" })
                            <div class="clear"></div>
                        </div>
                        <div class="field_error_msg hpnoerror2">@Html.ValidationMessageFor(x => x.contactDetail.SecondaryPhoneNoPrefix, null)</div>
                        <div class="field_error_msg hpnoerror">@Html.ValidationMessageFor(x => x.contactDetail.SecondaryPhoneNo, null)</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="s3-1_fi_row1-right right_mar_top">
                    <img src="@Url.Content("~/images/toll_tip_ico.jpg")" width="16" height="15" alt="">
                    <div class="s3-1_form_toll_tip s3-1_form_toll_tip2">
                        <div class="tt_top_form_y"><img src="@Url.Content("~/images/tt_top.png")" width="34" height="19" alt=""></div>
                        <div class="s3-1_form_toll_tip_b">
                            <div class="s3-1_fttp_marbot2">
                                Please provide a <span class="s3-1_fttp_redcolor">secondary phone number</span> so we can call you <br />
                                if there are any problems with your primary phone number.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <!-- line end -->
                <!-- line start -->
                <div class="s3-1_fullform_left">
                    <div class="s3-1_contactform_left">
                        <div class="s3-1_cf_lable_text">Address Line1</div>
                        <div>@Html.TextBoxFor(model => Model.contactDetail.Address1, new { @class = "s3-1_full_textbox_com" })</div>
                        <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.contactDetail.Address1, null)</div>
                    </div>
                    <div class="s3-1_contactform_right">
                        <div class="s3-1_cf_lable_text">Address Line2</div>
                        <div>@Html.TextBoxFor(model => Model.contactDetail.Address2, new { @class = "s3-1_full_textbox_com" })</div>
                        <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.contactDetail.Address2, null)</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="s3-1_fullform_right"></div>
                <div class="clear"></div>
                <!-- line end -->
                <!-- line start -->
                <div class="clear"></div>
                <div class="s3-1_fullform_left">
                    <div class="s3-1_contactform_left">
                        <div class="s3-1_cf_lable_text">City</div>
                        <div>@Html.TextBoxFor(model => Model.contactDetail.City, new { @class = "s3-1_full_textbox_com" })</div>
                        <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.contactDetail.City, null)</div>
                    </div>
                    <div class="s3-1_contactform_right">
                        <div class="s3-1_cf_lable_text">Postal Code</div>
                        <div>@Html.TextBoxFor(model => Model.contactDetail.PostalCode, new { @class = "s3-1_full_textbox_com" })</div>
                        <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.contactDetail.PostalCode, null)</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="s3-1_fullform_right"></div>
                <div class="clear"></div>
                <!-- line end -->
                <!-- line start -->
                <div class="s3-1_fullform_left">
                    <div class="s3-1_contactform_left">
                        <div class="s3-1_cf_lable_text">State</div>
                        <div>@Html.TextBoxFor(model => Model.contactDetail.StateOfProvince, new { @class = "s3-1_full_textbox_com" })</div>
                        <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.contactDetail.StateOfProvince, null)</div>
                    </div>
                    <div class="s3-1_contactform_right">
                        <div class="s3-1_cf_lable_text">Country</div>
                        <div>
                            @Html.DropDownListFor(model => Model.contactDetail.CountryCode, Mayflower.General.Utilities.CountryDropList(), "-", new { @class = "s3-1_full_selectbox_com" })
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="s3-1_fullform_right"></div>
                <div class="clear"></div>
                <!-- line end -->
                @if (!User.Identity.IsAuthenticated)
                {
                    <div class="check_create_acc">@Html.CheckBoxFor(model => model.isRegister, new { @class = "hidden", @id = "registerCheckBox" })<label for="isRegister" class="s3_create_account add-cursor-pointer" style="margin-left: 20px" tabindex="0"><span><span></span></span>Would you like to create an account with us ?</label></div>
                    @*@Html.TextBoxFor(model => model.MemberRegisterModels.Email, new { @name = "Email", @data_val_remote_url = "/Member/IsEmailAvailable", @style = "display: none;" })*@

                    <div class="s3_optional_register" id="optional_register">
                        <div class="s3-1_fullform_left">
                            @Html.ValidationMessageFor(model => model.MemberRegisterModels.Email, null, new { @class = "textforerrormsg" })
                            <div class="s3-1_contactform_left">
                                <div class="s3-1_cf_lable_text">Password</div>
                                <div>@Html.PasswordFor(model => model.MemberRegisterModels.Password, new { @class = "s3-1_full_textbox_com" })</div>
                                @Html.ValidationMessageFor(model => model.MemberRegisterModels.Password, null, new { @class = "textforerrormsg" })
                            </div>
                            <div class="s3-1_contactform_right">
                                <div class="s3-1_cf_lable_text">Confirm Password</div>
                                <div>@Html.PasswordFor(model => model.MemberRegisterModels.ConfirmPassword, new { @class = "s3-1_full_textbox_com" })</div>
                            </div>
                            @*<div class="s3-1_contactform_left">
                                    @Html.ValidationMessageFor(model => model.MemberRegisterModels.Password, null, new { @class = "textforerrormsg" })
                                </div>*@
                            <div class="s3-1_contactform_right">
                                @Html.ValidationMessageFor(model => model.MemberRegisterModels.ConfirmPassword, null, new { @class = "textforerrormsg" })
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="s3-1_fullform_right"></div>
                        <div class="clear"></div>
                        <div class="s2_ca_text" style="margin-bottom: 0">Your new password must contain a minimun length of 6 characters.</div>
                        <div class="mr_form_confirm">
                            <input id="checkbox_news" type="checkbox" name="subscribeNews" value="1">
                            <label for="checkbox_news" class="add-cursor-pointer" style="text-align:justify;">
                                Yes, I expressly agree for you to process, disclose and share my personal data to/with your Group of Companies for the purposes of promoting your Group of Companies’ and/or your products and services. (<a href="@Url.Action("PDPA", "Public")" target="_blank">Personal Data Protection Act 2010</a>)
                            </label>

                            <input id="MemberRegisterModels_AgreeTnC" type="checkbox" name="MemberRegisterModels.AgreeTnC" value="1" class="input-validation-error" aria-describedby="MemberRegisterModels.AgreeTnC-error" aria-invalid="true">
                            <label for="MemberRegisterModels_AgreeTnC" class="add-cursor-pointer" style="text-align:justify;">

                                I confirm that the above information provided by me is true and accurate. I have read and hereby agree to the <a href="@Url.Action("TermsConditions", "Public")" target="_blank">Terms & Conditions</a> of Mayflower Holidays Sdn Bhd, which shall be binding on me.
                            </label>
                            <span class="textforerrormsg field-validation-error" data-valmsg-for="MemberRegisterModels.AgreeTnC" data-valmsg-replace="true"><span id="MemberRegisterModels.AgreeTnC-error" class="">Please check the terms and condition to register.</span></span>

                            @*@Html.StyledCheckBoxFor(model => model.MemberRegisterModels.AgreeTnC, "I confirm that the above information provided by me is true and accurate. I have read and hereby agree to the terms and conditions of Mayflower Holidays Sdn Bhd, which shall be binding on me.")*@
                            @*@Html.ValidationMessageFor(model => model.MemberRegisterModels.AgreeTnC, null, new { @class = "textforerrormsg" })*@
                        </div>
                        <div class="reminder">
                            Reminder : Please ensure that all of your contact information are correct, then click "Complete form to continue" to continue. You then
                            be taken to the payment page.
                        </div>
                        <div class="s2_ca_text1">A verification email will be sent to your inbox to complete your registration.</div>
                    </div>
                }
                <div><button name="" type="button" value="Complete form to continue" class="s3-1_form_button">Complete form to continue</button></div>

            </div>
            <!-- contact form end -->
            @foreach (var item in Model.GuestRooms)
            {
                counter += 1;
                string selector = "guest" + counter.ToString() + "form";
                string roomTypeCode = item.RoomTypeCode;
                string RoomTypeName = item.RoomTypeName;
                int totalRoom = Model.GuestRooms.Count;
                @guestForm(selector, counter - 1, totalRoom, item.RoomTypeCode, item)
            }
        </div>
    </div>
}
<!-- HOTEL FORM CONTAINER END -->
@helper guestForm(string guestValue, int counter, int totalGuest, string roomTypeCode, GuestRoomModel room)
{
List<SelectListItem> titleList = UtilitiesService.GetTitleList(true, "ADT");
string roomType = "ADT";

    <!-- guest form start -->
    <div class="contact_detail_heading_small" value="@guestValue">
        <div class="chhc_bar">Room 0@(counter + 1)</div>
    </div>
    <div id="@guestValue" class="booking-form">

        @Html.HiddenFor(model => Model.GuestRooms[counter].RoomTypeCode, new { Value = roomTypeCode })

        <h3 class="gf_h_heading">@room.RoomTypeName</h3>

        <!-- line start -->
        <div class="s3-1_fi_row1">
            <div class="s3-1_fir1_b1">
                <div class="s3-1_b1_lable">Title<span>*</span></div>
                <div class="impreq_padding_right">
                    @Html.DropDownListFor(model => Model.GuestRooms[counter].Title, titleList, new { @class = "s3-1_title" })
                </div>
            </div>
            <div class="s3-1_fir1_b2">
                <div class="s3-1_b1_lable">First Name<span>*</span>(As per passport)</div>
                <div class="impreq_padding_right">
                    @Html.TextBoxFor(model => Model.GuestRooms[counter].FirstName, new { @class = "s3-1_full_textbox_name_com", @required = "required" })
                </div>
                <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.GuestRooms[counter].FirstName, null)</div>
            </div>
            <div class="s3-1_fir1_b3">
                <div class="s3-1_b1_lable">Family Name<span>*</span></div>
                <div>
                    @Html.TextBoxFor(model => Model.GuestRooms[counter].FamilyName, new { @class = "s3-1_full_textbox_name_com", @required = "required" })
                </div>
                <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.GuestRooms[counter].FamilyName, null)</div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="s3-1_fi_row1-right">
            <img src="@Url.Content("~/images/toll_tip_ico.jpg")" width="16" height="15" alt="">
            <div class="s3-1_form_toll_tip">
                <div class="tt_top_form_y"><img src="@Url.Content("~/images/tt_top.png")" width="34" height="19" alt=""></div>
                <div class="s3-1_form_toll_tip_b">
                    <div class="s3-1_fttp_redcolor s3-1_fttp_marbot">
                        Please enter your name as it appears in
                        your passport, see guide below:
                    </div>
                    <div class="s3-1_fttp_marbot">
                        <span class="s3-1_fttp_redcolor">Example 1: Mr.Mohammad Ali Bin Abdullah</span><br>
                        Title: Mr.<br>
                        First / Given Name : Abdullah<br>
                        Last Name / Surname: Mohammad Ali Bin<br>
                    </div>
                    <div class="s3-1_fttp_marbot">
                        <span class="s3-1_fttp_redcolor">Example 2:Ms.Janet Low Ying Ying</span><br>
                        Title: Ms.<br>
                        First / Given Name : Ying Ying Janet<br>
                        Last Name / Surname: Low<br>
                    </div>
                    <div>
                        <span class="s3-1_fttp_redcolor">Example 3: Mr.Nathan A/L Mogan</span><br>
                        Title: Mr.<br>
                        First / Given Name : Mogan<br>
                        Last Name / Surname: Nathan<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!-- line end -->
        <!-- line start -->
        @{
            Func<SelectListItem, bool> dobYear = (x => true);
            object DOBHtmlAttr = null;
            MvcHtmlString DOBRequired = new MvcHtmlString("");
            MvcHtmlString InfMonth = new MvcHtmlString("");

            if (roomType == "ADT")
            {
                dobYear = (x => Convert.ToInt32(x.Value) <= DateTime.Now.Year - 12);
                InfMonth = new MvcHtmlString("<span>Age</span>");
            }
            else if (roomType == "CNN")
            {
                DOBRequired = new MvcHtmlString("<span>*</span>");
                DOBHtmlAttr = new { data_val_required = "DOB is required for Child.", data_val = "true" };
                dobYear = (x => Convert.ToInt32(x.Value) >= DateTime.Now.Year - 12 && Convert.ToInt32(x.Value) <= DateTime.Now.Year - 2);
                InfMonth = new MvcHtmlString("<span>Age</span>");
            }
            else if (roomType == "INF")
            {
                DOBRequired = new MvcHtmlString("<span>*</span>");
                DOBHtmlAttr = new { data_val_required = "DOB is required for Infant.", data_val = "true" };
                dobYear = (x => Convert.ToInt32(x.Value) >= DateTime.Now.Year - 2 && Convert.ToInt32(x.Value) <= DateTime.Now.Year);
                InfMonth = new MvcHtmlString("<span>Age (In Months)</span>");
            }
        }

        <div class="s3-1_fullform_left">
            <div class="s3-1_contactform_left">
                <div class="s3-1_cf_lable_text">D.O.B </div>
                <div class="s3-1_ff_black_border_box">
                    <div class="s3_dob_newcont">
                        <div class="s3-1_dob_container">
                            <div class="s3-1_b1_lable">Day</div>
                            <div>
                                @Html.DropDownListFor(model => model.GuestRooms[counter].DateOfBirth.Day, Mayflower.General.Utilities.DaysDropList, "-", new { @class = "s3-1_dob day" })
                            </div>
                        </div>
                        <div class="s3-1_dob_container">
                            <div class="s3-1_b1_lable">Month</div>
                            <div>
                                @Html.DropDownListFor(model => model.GuestRooms[counter].DateOfBirth.Month, Mayflower.General.Utilities.MonthsDropList2(1), "-", new { @class = "s3-1_dob month" })
                            </div>
                        </div>
                        <div class="s3-1_dob_container">
                            <div class="s3-1_b1_lable">Year</div>
                            <div>
                                @Html.DropDownListFor(model => model.GuestRooms[counter].DateOfBirth.Year, Mayflower.General.Utilities.DOBYearsDropList.Where(x => Convert.ToInt32(x.Value) <= DateTime.Now.Year - 17), "-", new { @class = "s3-1_dob year" })
                            </div>
                        </div>
                    </div>
                    @Html.Hidden("GuestRooms[" + counter + "].DOB")
                    <div class="clear"></div>

                </div>
                <div class="field_error_msg">@Html.ValidationMessage("GuestRooms[" + counter + "].DOB")</div>
            </div>


            <div class="clear"></div>
        </div>
        <div class="s3-1_fullform_right"></div>
        <div class="clear"></div>
        <!-- line end -->
        <!-- line start -->
        <div class="s3-1_fullform_left">
            <div class="s3_lineforform"></div>
        </div>
        <div class="clear"></div>
        <!-- line end -->
        <!-- line start -->
        <div class="sp_request_text">Special Request **</div>
        <div class="s3_hotel_sp_left">Smoking</div>
        <div class="s3_hotel_sp_right">
            @Html.RadioButtonFor(model => Model.GuestRooms[counter].SpecialRequest.SmokingPreferences, "1", new { id = "smoking_" + counter })<label for="@("smoking_" + counter)">Smoking</label>
            @Html.RadioButtonFor(model => Model.GuestRooms[counter].SpecialRequest.SmokingPreferences, "0", new { id = "nosmoking_" + counter })<label for="@("nosmoking_" + counter)">No-Smoking</label>
            @Html.RadioButtonFor(model => Model.GuestRooms[counter].SpecialRequest.SmokingPreferences, "2", new { id = "eithersmoke_" + counter })<label for="@("eithersmoke_" + counter)" class="rad">No Preference</label>


        </div>
        <div class="clear"></div>

        @* // This is dynamic by Hotel & Room, not hardcode one
            <div class="s3_hotel_sp_left">Bedding Request</div>
            <div class="s3_hotel_sp_right">
                @Html.RadioButtonFor(model => Model.GuestRooms[counter].SpecialRequest.BetTypeID, "1", new { id = "kingSize_" + counter })<label for="@("kingSize_" + counter)">1x King Size Bed</label>
                @Html.RadioButtonFor(model => Model.GuestRooms[counter].SpecialRequest.BetTypeID, "0", new { id = "single_" + counter })<label for="@("single_" + counter)">2x Single Bed</label>
            </div>
            <div class="clear"></div>*@

        @if (Model.GuestRooms[counter].DisplaySpecialRequest != null && Model.GuestRooms[counter].DisplaySpecialRequest.BeddingRequest.Count > 1)
        {
            <div class="s3_hotel_sp_left">Bedding request</div>
            <div class="s3_hotel_sp_right">
                @foreach (var bed in Model.GuestRooms[counter].DisplaySpecialRequest.BeddingRequest)
                {
                    @Html.RadioButtonFor(model => Model.GuestRooms[counter].SpecialRequest.BetTypeID, bed.BetTypeID, new { id = bed.BedName + "_" + counter })<label for="@(bed.BedName + "_" + counter)">@bed.BedName</label>
                }
            </div>
            <div class="clear"></div>
        }

        @*<div class="s3_hotel_sp_left">Floor</div>
                <div class="s3_hotel_sp_right">
                    <input id="radio5" type="radio" name="radio2" value="1"><label for="radio5">Room on high floor</label>
                    <input id="radio6" type="radio" name="radio2" value="1"><label for="radio6">Room on low floor</label>
                </div>
            <div class="clear"></div>*@

        <div class="s3_hotel_sp_left">Check In</div>
        <div class="s3_hotel_sp_right">
            @Html.RadioButtonFor(model => Model.GuestRooms[counter].CheckInMode, "Early", new { id = "checkinearly_" + counter })<label for="@("checkinearly_" + counter)">Early</label>
            @Html.RadioButtonFor(model => Model.GuestRooms[counter].CheckInMode, "Late", new { id = "checkinlate_" + counter })<label for="@("checkinlate_" + counter)">Late</label>
            @Html.RadioButtonFor(model => Model.GuestRooms[counter].CheckInMode, "Either", new { id = "checkineither_" + counter })<label for="@("checkineither_" + counter)">No Preference</label>
        </div>
        <div class="clear"></div>
        <!-- line end -->
        <!-- line start -->
        <div class="s3_hotel_addi_txtboxlable">Additional Request<small>***</small></div>
        <div>
            @* 2017/01/31 - Heng changed Remark,
                ExpediaHotelsServiceCall.cs grab GuestRoomModel.Additional Request instead of SpecialRequest.AdditionalRequest *@
            @Html.TextAreaFor(model => Model.GuestRooms[counter].AdditionalRequest, new { @class = "adr_txtbox", maxlength = "230" })
            <div class="field_error_msg">@Html.ValidationMessageFor(model => Model.GuestRooms[counter].AdditionalRequest, null)</div>
        </div>

        <div class="impred_information">** &nbsp; Special request is subject to availability.</div>
        <div class="impred_information" style="margin-top: -15px">*** Additional Request max with 230 characters only.</div>
        @if (((counter + 1) == 1) && (Model.GuestRooms.Count > 1))
        {
            <div class="mr_form_confirm">@Html.StyledCheckBoxFor(model => model.applyInfo, "Apply same info to all rooms", "checkbox4")</div>
        }
        <!-- line end -->
        @{ string buttonType = (counter + 1 == totalGuest) ? "submit" : "button"; }

        <div><button name="" button type="@buttonType" value="Complete form to continue" class="s3-1_form_button">Complete form to continue</button></div>

    </div>
    <!-- guest form end -->
}